:root {
    --color-primary: red;
    --color-secondary: green;
    --color-tertiary: blue;
}

div {
    display: table;
    width: 90%;
    border-collapse: collapse;
    border: 2px solid var(--color-primary);
    margin: 20px;

    section {
        padding: 10px;
    }

    article {
        display: table-cell;
        border: 2px solid var(--color-secondary);
        padding: 10px;
        text-align: center;

        &:nth-of-type(odd) {
            p {
                color: var(--color-tertiary);
            }
        }

        &:nth-of-type(even) {
            p {
                color: var(--color-primary);
            }
        }
    }

    h1 {
        color: var(--color-secondary);
        text-align: center;
        margin-bottom: 0;
    }

    hr {
        color: var(--color-tertiary);
        width: 45%;
    }
}